.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(36, 36, 36);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
}

.header .login-button, .header .add-button {
  align-self: flex-end;
  margin: 1% 0;
  font-size: 1.25rem;
  width: 5vw;
  height: 2.5vw;
  color: white;
  border-color: white;
}

.header .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 20rem;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-size: 1.2rem;
    color: black;
}

.modal-container {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    animation: popup .2s ease-out;
    min-width: 350px;
}

@keyframes popup {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.modal-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
}

.modal-fields input {
  height: 40px;
  width: 18rem;
  font-size: 1.3rem;
  box-shadow: 0 0 0 1px;
  border-radius: 8px;
  margin: 3%;
  padding: 0 5%;
}

.modal-fields input::placeholder {
  text-align: center;
}

.modal .fail-message {
  color: red;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}

.modal-buttons a {
  align-self: center;
}

.modal-buttons a:hover {
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  height: 40px;
  width: 18rem;
  font-size: 1.3rem;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  height: 50px;
}

.card {
  padding: 2em;
}

.main-content {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 3% 0;
  min-height: 30rem;
}

.page-navigator {
  display: flex;
  width: 30%;
  justify-content: space-between;
}